<section id="sidebar">
  <nav>
    <% if current_page?(funding_company_path) %>
      <li><%= link_to "Funding", funding_company_path, class: "sidebar-link active" %>
      </li>
    <% else %>
    <li><%= link_to "Funding", funding_company_path, class: "sidebar-link" %></li>
    <% end %>
    
    <% if current_page?(info_company_path) %>
    <li><%= link_to "Company Info", info_company_path, class: "sidebar-link active" %></li>
    <% else %>
    <li><%= link_to "Company Info", info_company_path, class: "sidebar-link" %></li>
    <% end %>
    
    <% if current_page?(contact_company_path) %>
    <li><%= link_to "Contact Info", contact_company_path, class: "sidebar-link active" %></li>
    <% else %>
    <li><%= link_to "Contact Info", contact_company_path, class: "sidebar-link" %></li>
    <% end %>
    
  </nav>  
</section>
  
