<div class="container content">
  <div class="alert alert-warning alert-dismissible d-none d-lg-block" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="alert-link"></span><strong>Hi, <%= current_user.first_name %>!</strong> Use the navigation links to tell us a little more about your company.
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <%= render 'company_menu' %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Funding</div>
        <div class="panel-body">
          <div class="container">
            <%= form_for @company do |f| %>
        
              <div class="row">
                <div class="col-lg-4 select">
                  <div class="form-group">
                    <label>How much do you need?</label>
                    <%= f.select :amount, [["$5000 - $10,000", "$5000 - $10,000"], ["$10,001 - $15,000", "$10,001 - $15,000"], ["$15,001 - $20,000", "$15,001 - $20,000"], ["$20,001 - $25,000", "$20,001 - $25,000"], ["$25,001 - $30,000", "$25,001 - $30,000"], ["$30,001 - $35,000", "$30,001 - $35,000"], ["$35,001 - $50,000", "$35,001 - $50,000"], ["$50,001 - $75,000", "$50,001 - $75,000"], ["$75,001 - $150,000", "$75,001 - $150,000"], ["$150,001 - $250,000", "$150,001 - $250,000"], ["More than $250,000", "More than $250,000"]],
                                  id: "amount", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                <div class="col-lg-4 select">
                  <div class="form-group">
                    <label>Which Type of financing?</label>
                    <%= f.select :financing_type, [["Invoice Factoring (up to $5,000,000)", "Invoice Factoring (up to $5,000,000)"], ["Line of credit (up to $250,000)", "Line of credit (up to $250,000)"], ["Not sure", "Not sure"]],
                                  id: "financing_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                <div class="col-lg-4 select">
                  <div class="form-group">
                    <label>How fast do you need the funds?</label>
                    <%= f.select :financing_time, [["Within 1 week", "Within 1 week"], ["Within 1 month", "Within 1 month"], ["More than a month", "More than a month"]],
                                  id: "financing_time", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
              </div>

              <%= f.submit "Save", class: "btn btn-primary" %>

              <br>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
